.section__name {
  font-weight: 700;
  margin-bottom: 30px;
  // margin-bottom: 50px;
  // font-size: 26px;
  // font-size: 36px;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.team__list {
  background-color: var(--logo-text-footer-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
    &.last-child {
      margin-right: 0px;
    }
  }
}


.team__profession {
  margin-bottom: 16px;
}
.team {
  // display: flex;
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(428px - 260px);
  align-items: center;
}
.sotset {
  display: flex;
}
.sotset__titel:not(:last-child) {
  margin-left: 10px;
}
.sotset__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotset__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  background-color: var(--accent-color);
  fill: #ffffff;}
}
.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--logo-text-header-color);
}