:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-text-header-color: #000000;
  --logo-text-footer-color: #ffffff;
  --nav-button-color: #f5f4fa;
}